<%- include('../_common/_head', {
  key: 'themes',
  pagetitle: 'Themes'
}) %>

<%- include('../_component/themes/_header') %>

<%- include('../_component/themes/_menu') %>

<main class="uc-content">

  <section class="uc-section _center _gray">
    <h2 class="uc-section-title">UNITS Themes</h2>
    <p>UNITS has various themes available from the beginning.<br>
    Click on the card to see the demo page.</p>

    <div class="uc-card-unit">
      <div class="uc-grid _col-3 _medium-col-2 _small-col-full _gutter">

        <div class="uc-grid-cell">
          <div class="uc-card">
            <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
            <h3 class="uc-card-title">Standard</h3>
            <p>It is the basic theme of UNITS. It is possible to quickly build landing pages and so on.</p>
            <div class="uc-btn-unit">
              <div class="uc-btn _primary"><a href="/" target="_blank">Demo</a></div>
              <div class="uc-btn"><a href="/" target="_blank">Download</a></div>
            </div>
          </div>
        </div>

        <div class="uc-grid-cell">
          <div class="uc-card">
            <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
            <h3 class="uc-card-title">Light</h3>
            <p>It gives a lighter impression than conventional UNITS design. It can be used with other themes.</p>
            <div class="uc-btn-unit">
              <div class="uc-btn _primary"><a href="/themes/light/" target="_blank">Demo</a></div>
              <div class="uc-btn"><a href="/" target="_blank">Download</a></div>
            </div>
          </div>
        </div>

        <div class="uc-grid-cell">
          <div class="uc-card">
            <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
            <h3 class="uc-card-title">Blog</h3>
            <p>You can make a simple and beautiful blog theme.</p>
            <div class="uc-btn-unit">
              <div class="uc-btn _primary"><a href="/themes/blog/" target="_blank">Demo</a></div>
              <div class="uc-btn"><a href="/" target="_blank">Download</a></div>
            </div>
          </div>
        </div>

        <div class="uc-grid-cell">
          <div class="uc-card">
            <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
            <h3 class="uc-card-title">Portfolio</h3>
            <p>You can create a simple and functional portfolio site.</p>
            <div class="uc-btn-unit">
              <div class="uc-btn _primary"><a href="/themes/portfolio/" target="_blank">Demo</a></div>
              <div class="uc-btn"><a href="/" target="_blank">Download</a></div>
            </div>
          </div>
        </div>

        <div class="uc-grid-cell">
          <div class="uc-card">
            <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
            <h3 class="uc-card-title">Product</h3>
            <p>It is a stylish design. Ideal for pages that introduce products.</p>
            <div class="uc-btn-unit">
              <div class="uc-btn _primary"><a href="/themes/product/" target="_blank">Demo</a></div>
              <div class="uc-btn"><a href="/" target="_blank">Download</a></div>
            </div>
          </div>
        </div>

        <div class="uc-grid-cell">
          <div class="uc-card">
            <div class="uc-card-image" style="background-image:url(https://source.unsplash.com/random)"></div>
            <h3 class="uc-card-title">Document</h3>
            <p>You can create a simple and functional document page.</p>
            <div class="uc-btn-unit">
              <div class="uc-btn _primary"><a href="/docs/" target="_blank">Demo</a></div>
              <div class="uc-btn"><a href="/" target="_blank">Download</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>

<%- include('../_component/themes/_footer') %>

<%- include('../_common/_foot') %>
