<%- include('../_common/_head', {
  key: 'docs',
  pagetitle: 'Introduction | Document'
}) %>

<%- include('../_component/docs/_header') %>

<%- include('../_component/docs/_menu') %>

<div class="uc-grid _nowrap">

<%- include('../_component/docs/_sidebar') %>

  <div class="uc-grid-cell _col-fit">

  <%- include('../_component/docs/_hero', {
    title: 'Welcome to UNITS'
  }) %>

  <main class="uc-content">
    <section class="uc-section">

      <h2 class="uc-section-title">Introduction</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>Itaque praesentium eius eveniet recusandae officia!</p>

      <div class="uc-card-unit">
        <div class="uc-grid _col-3 _small-col-full _medium-col-2 _gutter">
          <div class="uc-grid-cell">
            <div class="uc-card">
              <h3 class="uc-card-title">Quickly available</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quas et est tenetur omnis labore doloribus commodi. Cupiditate.</p>
            </div>
          </div>
          <div class="uc-grid-cell">
            <div class="uc-card">
              <h3 class="uc-card-title">Quickly available</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quas et est tenetur omnis labore doloribus commodi. Cupiditate.</p>
            </div>
          </div>
          <div class="uc-grid-cell">
            <div class="uc-card">
              <h3 class="uc-card-title">Quickly available</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quas et est tenetur omnis labore doloribus commodi. Cupiditate.</p>
            </div>
          </div>
          <div class="uc-grid-cell">
            <div class="uc-card">
              <h3 class="uc-card-title">Quickly available</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quas et est tenetur omnis labore doloribus commodi. Cupiditate.</p>
            </div>
          </div>
          <div class="uc-grid-cell">
            <div class="uc-card">
              <h3 class="uc-card-title">Quickly available</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quas et est tenetur omnis labore doloribus commodi. Cupiditate.</p>
            </div>
          </div>
          <div class="uc-grid-cell">
            <div class="uc-card">
              <h3 class="uc-card-title">Quickly available</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quas et est tenetur omnis labore doloribus commodi. Cupiditate.</p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <div class="uc-pager-unit">
      <div class="uc-btn _primary"><a href="#">Install →</a></div>
    </div>
  </main>

  </div>

</div>

<%- include('../_component/docs/_footer') %>

<%- include('../_common/_foot') %>
